DigitalShadows = {
    'proxies':{
        'http': '',
        'https': ''
    },
    'url':'',
    'ds_key':'',
    'ds_secret':'',
    'verify':False,
    'fulltext':'true'
}

TheHive = {
    'url':'',
    'username':'',
    'password':''

}
